*.zip
*.mjs
*.sw.js
*.js
!worker/src/index.js
!public/index.html
codigo/
src/
worker/package.json
worker/src/worker-multiempresa*.js
worker/src/worker-test.js
worker/src/worker-v2.js
worker/src/worker.js
worker_esm.js
worker_sw.js
cc-worker.*
deploy*.zip
esm-deploy*.zip
final*.zip
test*.zip
simplesw*.zip
FICHA_CC.*
FICHA_CLUB_CONTABLE.*
schema.sql
subcategorias.sql
worker-classic.js
worker-esm-real.mjs
worker-esm.js
worker-real.js
worker-simple.js
worker.js
worker.mjs
.env
